/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
_lighthouse_ide_helper.php
schema-directives.graphql
programmatic-types.graphql
graphql-browser/node_modules
.phpstorm.meta.php
_ide_helper.php
